@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: contain;
  scroll-behavior: smooth;
  width: 100%;
}

/* ::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
    border-radius: 10px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
} */

.dissolve-out {
  animation: dissolveOut 250ms ease-in-out forwards;
}

.background {
  background: linear-gradient(
      180deg,
      rgba(254, 254, 254, 0.23) 0.02%,
      rgba(181, 194, 236, 0.23) 0.03%,
      rgba(0, 0, 0, 0.06) 13.4%,
      rgba(0, 17, 73, 0) 99.98%
    ),
    #eef2ff;
}

@keyframes dissolveOut {
  0% {
    opacity: 1;
    filter: blur(0px);
  }

  25% {
    opacity: 0.75;
    filter: blur(1px);
  }

  50% {
    opacity: 0.5;
    filter: blur(2px);
  }

  75% {
    opacity: 0.25;
    filter: blur(3px);
  }

  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

.bg-border {
  border-radius: 0px 0px 150px 150px;
  -webkit-border-radius: 0px 0px 150px 150px;
  -moz-border-radius: 0px 0px 150px 150px;
}

.otp-input {
  width: 2em !important;
}

/* input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
} */

button,
a {
  -webkit-tap-highlight-color: transparent;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}
