@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior-y: contain;
}

.dissolve-out {
  animation: dissolveOut 250ms ease-in-out forwards;
}

@keyframes dissolveOut {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  25% {
    opacity: 0.75;
    filter: blur(1px);
  }
  50% {
    opacity: 0.5;
    filter: blur(2px);
  }
  75% {
    opacity: 0.25;
    filter: blur(3px);
  }
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

.bg-border {
  border-radius: 0px 0px 150px 150px;
  -webkit-border-radius: 0px 0px 150px 150px;
  -moz-border-radius: 0px 0px 150px 150px;
}
